<section class="artistinfo">
  <div class="artist cf" ng-model="cities">
    <a href="#/details/{{prevItem}}" class="btn btn-left">&lt;</a>
    <a href="#/details/{{nextItem}}" class="btn btn-right">&gt;</a>
    <h1>{{cities[whichItem].city}}</h1>
    <div class="info">
      <img ng-src="images/{{cities[whichItem].pic}}.jpg" alt="Photo of {{cities[whichItem].city}}">
      <div class="bio">{{cities[whichItem].info}}</div>
    </div>
  </div>
  <a href="index.html">&laquo; Back to search</a>
</section>